body{
    background-color: gray;
}

.login-container{
    background-color: green;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    & input {
        width: 100%;
    }
}